/* Existing styles */
.playStructure {
  top: 10px;
  bottom: 10px;
  left: 15px;
  right: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  margin: -10px;
  overflow: auto;
  font-family: "Heuristica", serif;
}

#script-view {
  display: flex;
  flex-grow: 1;
  padding: 1em;
  flex-direction: column;
  overflow: auto;
  border: 1px solid #000;
  box-sizing: border-box;
  color: lightGrey;
  background-color: #121212;
  position: relative;
}

#base-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 25%;
}

#upload-script-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-script-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#upload-script-button-icon {
  width: 120px;
  height: auto;
}

#upload-script-button-text {
  font-size: 20px;
  font-family: "Heuristica", serif;
  color: lightGrey;
  text-align: center;
  margin-top: 10px;
}

.playTitle {
  font-size: 35px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.playDescription {
  font-size: 13px;
  text-align: center;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.playEnding {
  font-size: 16px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

.actTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.actDescription {
  font-size: 13px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
  margin-bottom: 10px;
}

.actEnding {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

.sceneTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.sceneLocation {
  font-size: 13px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.sceneDescription {
  font-size: 13px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  font-style: italic;
}

.sceneEnding {
  font-size: 13px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 100px;
  font-style: italic;
  font-weight: bold;
}

.stageDirections {
  font-size: 13px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-style: italic;
}

.characterContent {
  margin-left: 10px;
}

.characterName {
  font-size: 11px;
  font-weight: bold;
  margin-right: 1.5ch;
  margin-left: -10px;
  white-space: normal;
  display: inline;
}

.characterDialogue {
  white-space: normal;
  display: inline;
  padding-right: 0.25em;
  font-size: 15px;
}

.characterDirection {
  white-space: normal;
  display: inline;
  font-style: italic;
  padding-right: 0.25em;
  font-size: 15px;
}

#upload-script-button-icon {
  margin: 0 auto;
}
